.table {
    width: 100%;
    border: 2px solid #776c6c;
    margin: 0 auto;
    overflow: auto;
    border-radius: 5px;
}

.table-width {
    width: 100%;
    padding: 12px;
   
}

.padd-a {

    padding: 12px;
    border-bottom: 1px solid black;
    text-align: left
}

.bottom-b {
    border-bottom: 1px solid black;
    padding: 6px;
} 

tr:nth-child(4) {
    border-bottom: solid 2px green;
   }
   .button_tabel:first-of-type {
    margin-bottom: -11px;
  }
  .button_tabel + .button_tabel{
    margin-left: 14px;
 }.button_tabel{
    width: 58px;
 }
 .c-td{
   color : #2971b2;
   padding: 12px;
 }
 .tr-1{
    color: #453838;
}
 